.ul1{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center
}

.si{
    height: 150px;
    width: 291px;
    background-color: aliceblue;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 100px;
    margin: 25px;
    padding: 17px
}
img{
    position: relative;
}

h4
{
    text-shadow: 2px 2px #ad7e7e;
}
#outer{
    position: relative;
    width: 50%;
}
#inner{
    background-color:darkslategray;
  color: white;
  opacity: 0.7;
    position: absolute;
    z-index: 1;
    padding: 20px;
    box-shadow: 5px 10px #888888;
    height: 518px;
    width: 755px
}