<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
      <ul class="nav navbar-nav navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
        <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </ul>
    </div>
  </nav>
  <div class="ul1" style="margin-top: -20px">
      <img src="assets/images/music.jpg" height="540px" width="1440px">
      <marquee >
      <h4 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 300%"><u> Welcome </u></h4>
        <span style="font-size: 150%; font-family:cursive; color: salmon">
       To the World of KaKaKi
        </span>
    </marquee>
    <br>
    <br>
    <div class="container" id="outer" >
        <div id="inner">
        <h4 style="font-size: 300%">About Us</h4>
        <p style="font-size: 150%"> Kakaki is a revolutionary online music streaming app that change 
        the way people listen and share hausa and tafsir which are the famous 
        nigerian music types. It is one of the finest apps for music lovers 
        that holds an array of songs and albums as per your moods and blues.
        Now get access to the unlimited songs right from your hottest hausa 
        till hard-to-find classics, latest regional songs till trending hits 
        all at one place anytime and anywhere. So, whatever is your taste - 
        Old or new, we have everything to match your mood. You can even create 
        your own customized playlist that fits your mood and activity. 
        Now find your favorite song, listen to your favorite album or playlist, 
        share your customized song with your friends or listen to the latest 
        Kannywood hits, classics and regional music from any artist, genre or mood. 
        Kakaki has the perfect music to soothe your soul. Best of all, kakaki 
        allows you to access unlimited songs in online and offline mode. 
        So, just download the app to listen the perfect music that match your mood.</p>
    </div>
</div>
    
  </div>

  <div class="si" >
    <h4 style="color: black">The Rhythm of life</h4>
    <p>We strive to deliver the very best possible work that’s available out there, at any time. 
        That’s how we set ourselves apart from the competition.</p> 
  </div>
 
    
s